<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- Cuadro de Registro -->
            <div class="col-lg-4">
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>Registro</h3>
                        <p>Registre sus datos</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-clipboard-list"></i>
                    </div>
                    <a href="#" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <!-- Cuadro de Ingreso -->
            <div class="col-lg-4">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>Ingrese</h3>
                        <p>Acceda a la cuenta</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-sign-in-alt"></i>
                    </div>
                    <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>

             <!-- Cuadro de Base de Datos -->
             <div class="col-lg-4">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>Base de Datos</h3>
                        <p>Aqui</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-database"></i>
                    </div>
                    <a href="#" class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
           
           <!-- Cuadro de Administradores -->
            <div class="col-lg-4">
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>Administradores</h3>
                        <p>ID</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-tie"></i>
                    </div>
                    <a href="#" class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
