.main-header {
    background-color: rgb(4, 26, 46);
  }

  
  .nav-item:last-child.nav-link {
    color: red;
  }
  .nav-link {
    color: red!important;
  }
  .navbar-nav  {
    color: rgb(116, 5, 88);
  }


  .fas {
    color: rgb(196, 195, 206);
  }