
 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="../../../assets/dist/img/logo.jpg" alt="Payrollday Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">PAYROLLDAY</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        
        <div class="info">
          <a href="#" class="d-block">Nombre Usuario</a>
        </div>
      </div>

      
      <!-- Sidebar Menu -->
      <nav class="mt-2">
         <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item">
            <a [routerLink]="['/Dashboard']" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Dashboard
                
              </p>
            </a>
          </li>
           <li class="nav-item">
            <a  [routerLink]="['/Categoria']" class="nav-link">
              <i class="fas fa-folder"></i>
              <p>
                Categoria
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a  [routerLink]="['/Empleados']" class="nav-link">
              <i class="fas fa-users"></i>
              <p>
                Empleados
                
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a  [routerLink]="['/Administrador']"class="nav-link">
              <i class="fas fa-lock"></i>
              <p>
               Administrador
                
              </p>
             </a> 
              <li class="nav-item">
                <a  [routerLink]="['/Base de Datos']"class="nav-link">
                  <i class="fas fa-database"></i>
                  <p>
                  Base de datos
                  </p>
            </a>
          </li>
        <li class="nav-item">
          <a  [routerLink]="['/Aplicacion']"class="nav-link">
            <i class="fas fa-laptop"></i>
            <p>
             Aplicacion
            </p>
          </a>
        </li>
       </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
