.main-sidebar {
    background-color: #133958; /* cambiar el color del fondo */
  }
  
  .main-sidebar a {
    color: #7999dd; /* cambiar el color de la letra */
    font-weight: bold; /* cambiar el estilo de la letra (negrita) */
    text-decoration: none; /* quitar subrayado */
  }

  .nav-link i {
    margin-right: 10px;
  }